@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond|Lato|Roboto&display=swap");
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Body {
  min-height: 100vh;
  /* min-width: 100vw;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  background-color: #e7e7e7;
}
